header
  div.header   
    img(src='../assets/logo.svg')
    img(src='../assets/search.svg')
    input(type='text' name='search' class='search')
    img(src='../assets/notification.svg' class='notification')
    img(src=user class='notification')
    button 
      img(src='../assets/arrow-down.svg')
    div.exit 
      img(src='../assets/arrow-exit.svg')
      

