header
  div.wrapperLogo 
    img(src='../assets/logo.svg' class="logo")
    img(src='../assets/search.svg' class="icon-search")
    input(type='text' name='search' class='search' placeholder='Search for people')
  div.wrapperExitAction
    div.notification
      img(src='../assets/notification.svg')
    img(src=user class='user')
    button.arrow-down 
      img(src='../assets/arrow-down.svg')
    a(class="exit" href="sign-in.pug" title="exit")
      img(src='../assets/arrow-exit.svg')



