header.header   
  div
    img(src='../assets/logo.svg' class="logo")
    img(src='../assets/search.svg' class="icon-search")
    input(type='text' name='search' class='search' placeholder='Search for people')
    img(src='../assets/notification.svg' class='notification')
    img(src=user class='notification')
    button 
      img(src='../assets/arrow-down.svg')
    div.exit 
      img(src='../assets/arrow-exit.svg')
      

