header
  div.wrapperLogo 
    img(src='../assets/logo.svg' class="logo")
    img(src='../assets/search.svg' class="icon-search")
    form
      input(type='text' name='search' class='search' placeholder='Search for people')
  div.wrapperExitAction
    div.notification
      img(src='../assets/notification.svg')
    img(src=user class='user' alt="user")
    a(href="settings.pug")
      img(class='settings' src='../assets/settings.svg')
    a(class="exit" href="sign-in.pug" title="exit")
      img(src='../assets/arrow-exit.svg'  alt="exit")



