div.addMessage 
  img(src='../assets/download.svg')
  input(class="messageField" type='text' name='Message' placeholder="Message")
  label(class="label" htmlFor="Message") 
    img(src='../assets/send-message.svg')
    
