block variables

doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet' href='../static/chat-style.scss')
    link(rel='stylesheet' href='../static/auth-style.scss')
    link(rel='stylesheet' href='../static/settings-style.scss')
    link(rel='stylesheet' href='../static/style.scss')

  body     
    block content